@font-face {
    font-family: GothamRounded;
    src: url('../fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: GothamRounded;
    src: url('../fonts/GothamRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: GothamRounded;
    src: url('../fonts/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}