.box{
    width: 100%;
    text-align:center;
    background-color: antiquewhite;
    position: fixed;
    padding-bottom: 0.5rem;
    padding-top: 00.5rem;
    z-index: 1;
}

.search_bar {
    font-size: large;
    width: 25rem;
    height: 2rem;
    margin: 0 auto;
    display: inline-block;
}